


nav.top-nav {
    background-color: white;
    position: fixed;
    top:0px;
    left:0px;
    right:0px;
    z-index: 3;
    box-shadow: 0px 4px 4px #888888;
   
}

#content {
    margin-top:110px;
  width: 99vw;
}

nav.top-nav ul{
    list-style: none;
    padding:0;
    text-align:center;
}

nav.top-nav li {
    font-family: 'Hind', sans-serif;
    font-weight: bold;
    margin:5px;
    display: inline-block;
    background-color:white;
    padding: 3px; 
    user-select: none;
    position: relative;
    
}

nav.top-nav li a{
    font-size:1.5vw;
    color: #5e1914;
    text-decoration:none;
    font-family: 'Karla', sans-serif;
    font-weight:400;
}



nav.top-nav li:hover{
    text-decoration: underline;
}





h1{
    position:relative;
    top:-3vw;
    text-align:center;
    font-size:6vw;
    color:#5e1914;
    background-color:white;

    padding-top:1vw;
    padding-bottom:1vw;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    
}

#intro-container{

    position:relative;
    top:-7vw;
    background-color:#d7cec7;
    display: grid;
    grid-template-columns:30% 70%;
    grid-template-rows: 100%;

    padding-top:0px;
    
    
}

#intro-container #memoji {
    grid-column: 1/span 1;
    display: inline-block;
    height:22vw;
    width:22vw;
    position:relative;
    left:5vw;
}

#about-me {
    grid-column: 2/span 2;
    display: inline-block;
    position:relative;
    left:1.5vw;
    width: 60vw;
    font-size:1.8vw;
    color:#192841;
    font-family: 'Karla', sans-serif;
    font-weight:400;
    
}

.pictures{
    position:relative;
    top:-9vw;
    margin-top:0;
}

.pictures .picture{
    display:inline-block;
    position:relative;
    top:50px;
    left:1.7vw;
    width:22vw;
    height:17vw;
    margin-left:10px;
    margin-right:10px;
    padding:4px;

}


.project-container{
    display: grid;
    grid-template-columns:35% 65%;
    grid-template-rows: 30% 70%;
    margin:4vw;
    margin-left:5vw;
    margin-right:5vw;
    border:solid 2px black;
    height:23vw;
}
.project-container img{
    grid-row: 1/span 2;
    grid-column: 1/span 1;
    height:19vw;
    position:relative;
    left:50%;
    padding:2vw;
    transform: translate(-50%, 0%);;
}

.project-container .project-title {
    padding-top:2vw;
    grid-row: 1/span 1;
    grid-column: 2/span 2;
    text-align:center;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    color:#5e1914;
    font-size:3vw;
}

.project-container .project-text{
    grid-row:2/span 2;
    grid-column: 2/span 2;
    text-align:center;
    width:53vw;
    position:relative;
    left:0vw;
    color:#192841;
    font-family: 'Karla', sans-serif;
    font-weight:400;
    font-size:1.8vw;
}

.project-container a:hover{
    opacity:0.6;
}

.socials{
    position:relative;
    text-align: center;

}
.social{
    display:inline-block;
    margin:1.5vw;
    align-content: center;
    margin-bottom:2.5vw;

}

.social .social-image{
    height:13vw;
    border-radius:50%;

}

.social .social-image:hover{
    opacity:0.3;
}

hr{
    width:65vw;
    border:3px solid black;
}

.email{
    text-align:center;
     color:#5e1914;
    font-family: 'Karla', sans-serif;
    font-weight:400;
    font-size:2vw;
}

.email a{
    color:#5e1914;
}

.email a:hover{
    color:#8d261f;
}

.phone{
    text-align:center;
    color:#5e1914;
    font-family: 'Karla', sans-serif;
    font-weight:400;
    font-size:2vw;
    position:relative;
    top:-2vw;
}